{{- if ne .dev_container "true" -}}
[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}

[includeIf "gitdir:~/git/"]
  path = ~/git/.gitconfig
[includeIf "gitdir:~/source/"]
  path = ~/source/.gitconfig

[pull]
	rebase = false
[fetch]
	prune = true

{{-   if eq .chezmoi.os "windows" }}
[core]
	longpaths = true
{{- end -}}

{{-   if eq .chezmoi.os "linux" }}
{{-     if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
	useHttpPath = true
{{-     end }}
{{-     if eq .chezmoi.osRelease.id "arch" }}
[credential]
    credentialStore = secretservice
    helper = /usr/bin/git-credential-manager
{{-     end }}
{{-   end }}
{{- end -}}

[credential "https://dev.azure.com"]
    useHttpPath = true
