{{ if eq .chezmoi.os "linux" -}}

#!/bin/sh
{{  if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt -y install zsh
{{  end -}}
{{  if eq .chezmoi.osRelease.id "debian" }}
sudo apt -y install zsh
{{  end -}}
{{  if eq .chezmoi.osRelease.id "archlinux" }}
sudo pacman -S --noconfirm zsh zsh-completions
{{  end -}}

sudo chsh -s /usr/bin/zsh

{{ end -}}
