{{- if eq .chezmoi.os "linux" }}
#!/bin/sh

{{-  if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt -y install zsh curl git
{{-  end }}
{{-  if eq .chezmoi.osRelease.id "debian" }}
sudo apt -y install zsh curl git
{{-  end }}
{{-  if eq .chezmoi.osRelease.id "archlinux" }}
sudo pacman -S --noconfirm zsh zsh-completions curl git
{{-  end }}

sudo chsh -s $(which zsh)

if [ ! -d ~/.oh-my-zsh ]; then
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

    # Oh My Zsh makes a backup, not necessary for this script.
    rm -rf .zshrc .shell.pre-oh-my-zsh
    mv .zshrc.pre-oh-my-zsh .zshrc
fi

{{- end }}
